body{
    height: 100%;
    width: 100%;
    margin: 0;
    direction: rtl;
}
header{
    height: 600px;
    background-color: #fafafa;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 120px;
    height: 120px;
    border-radius: 5%;
}

section#sec1 , section#sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#about{
    width: 600px;
}

section#sec2 a img{
    width: 350px;
    height: 250px;
}

